/*CSS Style sheet*/
* {
	font-family: arial, sans-serif;
	font-size: 13px;
}

.header {
	width: 100%
}

a {
	text-decoration: none;
	color: black;
}

.nav {
	position: absolute;
	right: 0;
	top: 24px;
}

.navtext {
	padding-right: 18px;
}

.navbuttons {
	padding-right: 18px;
}

a:hover {
	text-decoration: underline;
}

#plus {
	position: relative;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background-color: #695309;
	float: right;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	line-height: 36px;
	right: 12px;
	bottom: 10px;
}

.main {
	width: 100%;
}

#logo {
	width: 272px;
	height: 92px;
	margin-left: calc(50% - 136px);
	margin-top: 10%;
}

#searchbar {
	width: 582px;
	height: 44px;
	clear: both;
	font-family: Arial;
	font-size: 16px;
	margin-top: 30px;
	border-style: solid;
	box-shadow: 2px 1px #cacaca;
	border-width: 1px;
	border-color: #f2f2f2;
}

#searchbar:hover {
	box-shadow: 3px 2px #cacaca;
}


#searchbar:focus {
	box-shadow: 3px 2px #cacaca;
	outline: none;
}

.buttonbar {
	padding-top: 18px;
}

.button {
	height: 34px;
	background-color: #f2f2f2;
	border-width: 0px;
	margin-top: 11px; 
	font-weight: bold;
	color: #666;
	margin-left: 24px;
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.button:hover {
	border-width: : 3px;
	border-color: black;
	color: black;
}

.footer {
	position: fixed;
	width: 100%;
	height: 41px;
	bottom: 41px;
	left: 0;
	background-color: #f2f2f2;
	border-bottom-style: solid;
	border-color: #cacaca;
	border-bottom-width: 1px;
}

.bottomfooter {
	position: fixed;
	width: 100%;
	height: 41px;
	bottom: 0;
	left: 0;
	background-color: #f2f2f2;
}

.footertext {
	position: absolute;
	padding-left: 27px;
	color: rgba(0,0,0, .54);
	text-align: center;
	padding-top: 12px;
	font-size: 15px;
}

.rbf {
	position: absolute;
	padding-top: 13px;
	padding-left: 0;
}

.rbft {
	position: relative;
	padding-left: 27px;
	color: rgba(0,0,0, .54);
	border-width: 1px;
}

.lbf {
	position: absolute;
	padding-top: 13px;
	right: 0;
}

.lbft {
	position: relative;
	padding-right: 27px;
	color: rgba(0,0,0, .54);
	border-width: 1px;
}

}